.card-wrapper{
    width: 100%;
    min-height: 160px;
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    margin: 10px;
}

.card-title{
    width: 60%;
    padding: 5px;
}

.course-info{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.course-info p{
    white-space: nowrap;
    overflow: hidden;
}

.card-description{
    font-size: 12px;
}

.buttons-wrapper{
    display: flex;
}